.form-container
  %h2 Редагування профілю

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name , required: false, autofocus: true, label: "Ім'я"
      = f.input :email, required: false, label: 'Email'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for:
          = resource.unconfirmed_email
      = f.input :password, autocomplete: "off", hint: "Залиште поле пустим, якщо не збираєтесь змінювати його", required: false, label: 'Пароль'
      = f.input :password_confirmation, required: false, label: 'Підтвердження паролю'
      = f.input :current_password, hint: "для внесення змін введіть свій актуальні пароль", required: false, label: 'Актуальний пароль'
    .form-actions
      = f.button :submit, "Внести зміни"
