= simple_form_for @tour do |f|
  = f.input :cover
  = f.input :title
  = f.input :description
  = f.input :date
  = f.input :price
  = f.input :money, priority: ['€'], collection: ['$', '€', '₴']
  = f.input :place
  = f.button :submit
