- @tours.each do |tour|
  .row.tours
    .col-md-6
      = link_to(tour) do
        %h2= truncate(tour.title, length: 60)
      %p= truncate(simple_format(tour.description), escape: false, length: 400)
      .row.tour-footer
        .col-md-4.tour-date
          %p
            = link_to(tour) do
              = tour.date
        .col-md-4
          %p.tour.tour-place
            = tour.place
        .col-md-4.tour-price
          %p
            = link_to(tour) do
              = tour.price
              = tour.money
    .col-md-6
      = link_to(tour) do
        = image_tag tour.cover(:medium), class: 'tour-cover'
.row.pag
  = will_paginate @tours, :previous_label => '← Попередня', :next_label => 'Наступна →'
