.row
  .col-md-12
    = image_tag @tour.cover.url(:large)
    %h1= @tour.title
    %p= @tour.description
    %p= @tour.price
    %p= @tour.date
    =link_to 'Delete', tour_path, method: :delete
    =link_to 'Назад', tours_path


