.row.top-contact-info
  .col-md-6
    %ul
      %li
        kievstar: 067-50-95-100
      %li
        life: 063-36-27-885
  .col-md-6
    %ul
      %li
        email: Lena_tour@mail.ru
      %li
        т./ф. 04565-65388

.container
  .row
    .col-md-12
      .pull-right
        %ul.display-ul
          - if user_signed_in? && current_user.admin?
            %li= link_to 'New Tour', new_tour_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - elsif user_signed_in?

            %li= current_user.email
            %li
              = current_user.first_name
              = current_user.last_name
            %li= image_tag current_user.image
            %li= link_to 'Settings', edit_user_registration_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign In', new_user_session_path
            %li= link_to 'Sign Up', new_user_registration_path

.container
  .row
    .col-md-3
      = link_to(root_path) do
        = image_tag 'emblem.jpg', id: 'emblem'
    .col-md-9
      %h1
        Туристична агенція
      %h2
        Шохалевич Олени
