%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to(root_path) do
        = image_tag 'project-emblem.png', id: 'project-emblem', class: 'navbar-brand'
    %div
      %ul.nav.navbar-nav
        %li
          - if current_page?(root_path)
            = link_to 'Головна', root_path, class: 'activated'
          - else
            = link_to 'Головна', root_path
        %li
          - if current_page?(pages_contacts_path)
            = link_to 'Контакти', pages_contacts_path, class: 'activated'
          - else
            = link_to 'Контакти', pages_contacts_path


      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in? && current_user.admin?
          %li= link_to 'Створити', new_tour_path
          %li= link_to 'Вийти', destroy_user_session_path, method: :delete
        - elsif user_signed_in?
          %li= image_tag current_user.image, class: 'user-image-in-header'
          %li= link_to 'Налаштування', edit_user_registration_path
          %li= link_to 'Вийти', destroy_user_session_path, method: :delete
        - else
          - if current_page?(new_user_registration_path) || current_page?(new_user_session_path)
            %li= link_to 'Увійти', new_user_session_path, class: 'activated'
          - else
            %li= link_to 'Увійти', new_user_session_path
          %li
            = link_to(user_omniauth_authorize_path(:facebook)) do
              = image_tag 'soc-auth-fb.png', class: 'soc-auth-image'
          %li
            = link_to(user_omniauth_authorize_path(:vkontakte)) do
              = image_tag 'soc-auth-vk.png', class: 'soc-auth-image'

      %form.navbar-form.navbar-left
        - if current_page?(root_path)
          = form_tag tours_path, method: 'get' do
            = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Введіть назву тура'
            = submit_tag 'Пошук', class: 'btn btn-default'

